---
title: Mailaika Sterzing
pid: home
lang: de
---
{% include glob.html %}



        <!-- Text -->
        <section id="one" class="wrapper style1">

            <header class="special">
                <h2>{{text.h1}}</h2>
                <p>{{text.h2}}</p>
            </header>
            <div class="content">
                <p>{{text.malaikaDesc}}</p>
            </div>
        </section>
        
        
        <!-- Text -->
        <section id="one" class="wrapper style1">

            <div class="image fit flush">
                <img src="{{lImg}}Collage_Gruppenbild_malaika_kl.jpg" alt="{{altGroupPic}}" />
            </div>
            <header class="special">
                <h2>{{text.h1news}}</h2>
            </header>
            <div class="content">

                {% for post in site.posts %}

                <li>
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <p>{{ post.excerpt }}</p>
                </li>

                {% endfor %}

            </div>
            
        </section>

        <!-- Text -->
        <section id="one" class="wrapper style1">

                <header>
                    <h2>{{text.h1donate}}</h2>
                </header>
                <div class="content">

                    <p>{{text.beforeProgressBar}}</p>
                    <div class="progress-wrap progress" data-progress-percent="25">
                        <div class="progress-bar progress"></div>
                    </div>

                    <p>{{text.donationMain}}</p>
                    <p>{{text.bankDetails}}</p>
    
                </div>
                
            </section>
