---
title: Mailaika Projekt
pid: proj
lang: en
---
{% include glob.html %}



    <!-- Text -->
        <section id="one" class="wrapper style1">

            <div class="image fit flush">
                <img src="assets/img/31431222_907802936065509_7026678806135361496_n.jpg" alt="" />
            </div>
            <header class="special">
                <h2>{{text.prob_h1}}</h2>
            </header>
            <div class="content">
                <p>{{text.prob_text_1}}</p>
                
                <p>{{text.prob_text_2}}</p>
            </div>
        </section>
        
        
        <!-- Text -->
        <section id="one" class="wrapper style1">

            <div class="image fit flush">
                <img src="assets/img/31500873_907803006065502_8730617405872152653_n.jpg" alt="" />
            </div>
            <header class="special">
                <h2>{{text.descript_h1}}</h2>
                <p>{{text.descript_h2}}</p>
            </header>
            <div class="content">
                <p>{{text.descript_text_1}}</p>
                
                <p>{{text.descript_text_2}}</p>
                
                <p>{{text.descript_text_3}}</p>

                <iframe class="youtube_iframe"
                src="https://www.youtube.com/embed/XOurKfsM0hs">
                </iframe>
            </div>
            
        </section>



    <!-- Image + text -->
        <section id="three" class="wrapper">
            <div class="spotlight alt">
                <div class="image flush"><img src="assets/img/Farm.jpg" alt="" /></div>
                <div class="inner">
                    <h3>{{text.target_h1}}</h3>
                    <p>{{text.target_text}}</p>
                </div>
            </div>
            <div class="spotlight">
                <div class="image flush"><img src="assets/img/2019_web.jpg" alt="" /></div>
                <div  class="inner">
                    <h3>{{text.goal_h1}}</h3>
                    {{text.goal_list}}
                </div>
            </div>
            <div class="spotlight alt">
                <div class="image flush"><img src="assets/img/1_Duncan.JPG" alt="" /></div>
                <div  class="inner">
                    <h3>{{text.duncan_h1}}</h3>
                    <p>{{text.duncan_p}}</p>
                </div>
            </div>
            <div class="spotlight">
                <div class="image flush"><img src="assets/img/1 Patrick.JPG" alt="" /></div>
                <div  class="inner">
                    <h3>{{text.patrick_h1}}</h3>
                    <p>{{text.patrick_p}}</p>
                </div>
            </div>
        </section>
        
        <!-- Gallery -->
        <section id="two" class="wrapper style2">
            <header>
                <h2>{{text.gallery_h1}}</h2>
                <p>{{text.gallery_p}}</p>
            </header>
            <div class="content">
                <div class="gallery">
                    {% include gallery_gen.html path="assets/img/progressGallery" %}
                </div> 
            </div>
        </section>