#mainHeaderLogo {
  max-width: 500px;
}


@media (max-width:700px) {
    #mainHeaderLogo {
        width: 90%;
    }
}

/* menu */
#navi {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #86c400;
}

nav {
    float: left;
}

#langNav {
    float: right;
}

#navi a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

#navi a:hover {
    text-decoration: underline;
}

#navi a.current {
    text-decoration: underline;
}

/* main */
.news {
    list-style: none;
}

/* footer */

.icon img {
    width: 80px;
}

/* Progress bar */
.progress {
    width: 100%;
    height: 50px;
  }
  .progress-wrap {
    background: #86c400;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
  }

  .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
  