<!DOCTYPE HTML>
<!--
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{page.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/custom.css" />

		<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">  
		<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">  
		<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">  


	</head>
	<body>

    <!-- Header -->
    <header id="header">
      <div class="logo"><a href="#"><img id="mainHeaderLogo" src="assets/img/MALAIKA_LOGO_maskottchen_web.png">
          <span></span></a></div>
    </header>

    <!-- Main -->
    <section id="main">
        <div class="inner">
			<div id="navi">
				<nav>
				{% include navigation.html %}
				|
				{% include langNav.html %}
			</nav>

			</div>
    
    {{content}}

      </div>
    </section>
        
        

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<!--<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
						<li><a href="https://www.facebook.com/MalaikaSterzing" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
						<li><a href="mailto:malaika.kenia@hotmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						<li><a href="https://github.com/mrxder/WebsiteMalaika" class="icon fa-github"><span class="label">Github</span></a></li>
					</ul>
				</div>
				<a href="https://www.oew.org/" class="icon"><img src="assets/img/oew_logo_s.png"><span class="label">oew</span></a>
				<br>
				{% include privacyLink.html %}

				<div class="copyright">
					&copy; Website by <a href="https://www.matthias-keim.com">Matthias Keim</a>
				</div>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	{% include analytics.html %}

	</body>
</html>
